<div class="row">
	<main class="col-md-12">
		<div class="py-4">
			<h1>Welcome to WEB700 About Page</h1>
		</div>
		<div class="py-4">
			<h2>About this page</h2>
			<p>Welcome to my website, where I will be demonstrating HTML5 principles and techniques, alongside exploring
				advanced topics like Routing in Express. Join me on this journey as we uncover the foundations and
				cutting-edge features of web development</p>
		</div>
	</main>
</div>